{% extends 'base.html' %}

{% block content %}

  <h2> Form</h2>

  <form method="post" id="OrderForm" data-courses-url="{% url 'collegeapp:ajax_load_courses' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'collegeapp:allProdCat' %}">logout</a>
  </form>

  <script src=" https://code.jquery.com/jquery-3.3.1.min.js "></script>
  <script>
    $("#id_department").change(function () {
      const url = $("#OrderForm").attr("data-courses-url");  // get the url of the `load_cities` view
      const departmentId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'department_id': departmentId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_course").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>
{% endblock %}